form.encuestados {
    width: 600px;
}

form.encuestados label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form.encuestados .form-input {
    padding: 1em;
}

form.encuestados .form-input input[type='text'],
form.encuestados .form-input input[type='email'] {
    display: block;
    width: 100%;
}

p.exito {
    font-size: 1.5em;
    padding: 1em;
    border: 2px solid green;
    background: lightgreen;
}

p.error {
    font-size: 1.5em;
    padding: 1em;
    border: 2px solid red;
    background: #ff8787;
}